label.input {

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;

  p {
    font-size: 1.25rem;
    font-weight: 700;
  }

  p.timer {
    position: absolute;
    bottom: 15%;
    right: 10px;

    font-size: 1rem;
    font-weight: 500;
  }

  input {
    width: 100%;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 4px 5px 0px rgba(195, 195, 195, 0.50);

    &::placeholder {
      color: #C3C3C3;
    }
  }
}